<mat-card class="mat-item-adjust">
  <div class="disp-img-container">
    <img class="disp-img" [attr.src]="imageSrc" (click)="imgClicked($event)" />
  </div>
  <div *ngIf="image.desc">
    <p class="txt-center" *ngFor="let line of image.desc | splitLines">{{ line }}</p>
  </div>
  <p class="txt-center cats">
    Categories:
    <span *ngFor="let category of image.categories; let first = first">
      <span *ngIf="!first">, </span>
      <a class="cat-link" routerLink="/" [queryParams]="{q: 'cat:' + category.name}">{{ category.name }}</a>
    </span>
  </p>
  <app-full-image *ngIf="showImgCloseUp" [image]="image" (onClose)="closeUpClosed($event)"></app-full-image>
</mat-card>
