.img-scroll {
  overflow: hidden;
  display: block;
}

.img-container {
  width: 200%;
  height: 100%;
  clear: both;
  position: relative;
  display: block;
  float: left;
  left: 0;
  transition: left 1s;
}

.img-container-offset {
  left: -100%;
}

.img-item {
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.img-item img {
  visibility: hidden;
}
