<div class="img-scroll" [style.width.px]="size" [style.height.px]="size">
  <div class="img-container" [style.left.%]="imgOffset">
    <a routerLink="/{{ imgLeft?.galleryId }}">
      <div class="img-item" [style.background-image]="'url(' + imgSrcLeft + ')'" [style.visibility]="imgSrcLeft != undefined ? 'visible' : 'hidden'">
        <img [attr.src]="imgSrcLeft" (load)="imgLeftLoad($event)" />
      </div>
    </a>
    <a routerLink="/{{ imgRight?.galleryId }}">
      <div class="img-item" [style.background-image]="'url(' + imgSrcRight + ')'">
        <img [attr.src]="imgSrcRight" (load)="imgRightLoad($event)" />
      </div>
    </a>
  </div>
</div>