<mat-card class="error-box" *ngIf="error">{{ error }}</mat-card>
<mat-card *ngIf="gallery">
  <mat-card>
    <h1>{{ gallery.name }}</h1>
  </mat-card>
  <mat-card class="mat-item-adjust">
    <div *ngIf="gallery.desc">
      <h2>Description</h2>
      <p *ngFor="let line of gallery.desc | splitLines">{{ line }}</p>
    </div>
    <p>Added: {{ dateFormat(gallery.dateAdded) }}, Updated: {{ dateFormat(gallery.dateUpdated) }}</p>
  </mat-card>
  <app-gallery-image *ngFor="let img of gallery.images" [image]="img"></app-gallery-image>
</mat-card>
<a class="mat-nav-icon-button mat-item-adjust" mat-raised-button routerLink="/">
  <mat-icon>arrow_back_ios</mat-icon> Back to galleries
</a>
