.footer-container {
    background: #eee;
    position: fixed;
    bottom: 0;
    z-index: 2;
    padding: 2px;
    border: #ccc 1px solid;
}

.header {
    width: 100%;
}

.header h3 {
    text-align: center;
    margin: 0;
}

.internal-info {
    transition: height 0.2s;
    overflow: hidden;
}

.help-info {
    width: 100%;
}

.help-info p {
    color: #777;
    text-align: center;
    margin: 0;
}
